aws_region                = "us-east-1"
lab_role_name             = "LabRole"
lab_instance_profile_name = "LabInstanceProfile"

# --- Otros valores opcionales ---
# cloudflare_api_token  = "YOUR_CLOUDFLARE_API_TOKEN"
# cloudflare_zone_id    = "YOUR_CLOUDFLARE_ZONE_ID"
